@{
    ViewData["Title"] = "GEAV - Gerenciamento Delivery";
}
<nav style="height:500px; width:1200px;background-color: #4682B4">



    <h1 style="text-align: center; color: white;">GAV - Gerenciamento Delivery</h1>
    <a asp-controller="Funcionarios"
       asp-action="Index" class="btn btn-danger">Funcionários</a>
    <p></p>
    <a asp-controller="Produtoes"
       asp-action="Index" class="btn btn-danger">Cardápio</a>
    <p></p>
    <a asp-controller="Vendaes"
       asp-action="Index" class="btn btn-danger">Venda</a>
    <p></p>
    <a asp-controller="Caixaes"
       asp-action="Index" style="background-color: azure; border-color: #000; text-align: center; color: black;" class="btn btn-danger">Caixa</a>
    <p></p>

</nav>



